<div class="wrapper">
    <div class="label">
        <ng-content />:
    </div>
    <div class="selectable">
        <div class="selected" [style.--width]="width">
            <span>({{selectedElements.length}})</span>
            <span>▼</span>
        </div>
        <div class="dropdown" [style.--width]="width">
            <div class="spacer"></div>
            <div class="items_wrapper">
                @for (item of items(); track $index)
                {
                    <div class="item">
                        <app-checkbox [selected]="selectedElements.includes($index)
                            "(onChange)="onSelected($index, $event)">
                            {{item}}
                        </app-checkbox>
                    </div>
                    @if ($index < (items().length - 1))
                    {
                        <hr/>
                    }
                }
            </div>
        </div>
    </div>
</div>
