<main tabindex="0" (keyup.enter)="onKeyPress()">
    <div class="container" tabindex="0">
        <h1 class="title">Diplomancy</h1>
        <div class="main_dialoge">
            <div class="nav">
                <div class="tab_button_left" [ngClass]="mode == Mode.LOGIN ? 'active' : 'disabled'"
                        (click)="switchMode(Mode.LOGIN)">
                    {{ 'auth.login' | translate }}
                </div>
                <div class="tab_button_right" [ngClass]="mode == Mode.LOGON ? 'active' : 'disabled'"
                        (click)="switchMode(Mode.LOGON)">
                    {{ 'auth.logon' | translate }}
                </div>
            </div>
            <div class="mode_wrapper">
                <div class="login" [ngClass]="mode == Mode.LOGIN ? 'active' : 'disabled'">
                    <label for="username">{{ 'auth.username' | translate }}/{{ 'auth.email' | translate }}:</label>
                    <input [ngClass]="usernameOk ? 'inputIdle' : 'inputFail'" type="text" id="username" name="username"
                        [(ngModel)]="inUsername">
                    <div [ngClass]="usernameOk ? 'hintIdle' : 'hintFail'">
                        {{ 'auth.invalid_username' | translate }}
                    </div>
                    <div [ngClass]="usernameOk ? 'spacerIdle' : 'spacerFail'"></div>
                    <label for="password">{{ 'auth.password' | translate }}:</label>
                    <input [ngClass]="passwordOk ? 'inputIdle' : 'inputFail'" type="password" id="password"
                        name="password" [(ngModel)]="inPassword">
                    <div [ngClass]="passwordOk ? 'hintIdle' : 'hintFail'">
                        {{ 'auth.invalid_password' | translate }}
                    </div>
                    <div [ngClass]="passwordOk ? 'spacerIdle' : 'spacerFail'"></div>
                    <app-checkbox (onChange)="rememberMe = $event"> {{ 'auth.remember_me' | translate }} </app-checkbox>
                    <div class="sb_wrapper">
                        <button class="submit_button" (click)="validateLogin()">{{ 'auth.login' | translate }}</button>
                        <div [ngClass]="serverOk ? 'hintIdle' : 'hintButtonFail'">
                            {{ 'auth.internal_server_error' | translate}}
                        </div>
                        <div [ngClass]="serverOk ? 'spacerIdle' : 'spacerFail'"></div>
                    </div>
                </div>
                <div class="logon" [ngClass]="mode == Mode.LOGON ? 'active' : 'disabled'">
                    <label for="new_email">{{ 'auth.email' | translate}}:</label>
                    <input [ngClass]="emailOk ? 'inputIdle' : 'inputFail'" type="email" id="new_email" name="new_email"
                        [(ngModel)]="inEmail">
                    <div [ngClass]="emailOk ? 'hintIdle' : 'hintFail'">
                        @if (emailReason === EmailReason.GENERIC)
                        {
                            {{ 'auth.invalid_email' | translate }}
                        }
                        @else
                        {
                            {{ 'auth.email_taken' | translate }}
                        }
                    </div>
                    <div [ngClass]="emailOk ? 'spacerIdle' : 'spacerFail'"></div>
                    <label for="new_username">{{ 'auth.username' | translate }}:</label>
                    <input [ngClass]="usernameOk ? 'inputIdle' : 'inputFail'" type="text" id="new_username"
                        name="new_username" [(ngModel)]="inUsername">
                    <div [ngClass]="usernameOk ? 'hintIdle' : 'hintFail'">
                        {{ 'auth.invalid_username' | translate }}
                    </div>
                    <div [ngClass]="usernameOk ? 'spacerIdle' : 'spacerFail'"></div>
                    <label for="new_password">{{ 'auth.password' | translate }}:</label>
                    <input [ngClass]="passwordOk ? 'inputIdle' : 'inputFail'" type="password" id="new_password"
                        name="new_password" [(ngModel)]="inPassword">
                    <div [ngClass]="passwordOk ? 'hintIdle' : 'hintFail'">
                        {{ 'auth.invalid_password' | translate }}
                    </div>
                    <div [ngClass]="passwordOk ? 'spacerIdle' : 'spacerFail'"></div>
                    <div class="sb_wrapper">
                        <button class="submit_button" (click)="validateLogon()">{{ 'auth.logon' | translate }}</button>
                        <div [ngClass]="serverOk ? 'hintIdle' : 'hintButtonFail'">
                            {{ 'auth.internal_server_error' | translate}}
                        </div>
                        <div [ngClass]="serverOk ? 'spacerIdle' : 'spacerFail'"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <img class="language_button" src="assets/pl.png" (click)="changeLanguage('pl')"/>
        <div class="lang_spacer"></div>
        <img class="language_button" src="assets/uk.png" (click)="changeLanguage('en')"/>
    </div>
    <div class="backdrop" [class.show]="showBackdrop"></div>
    <div class="notification" [class.show]="showNotification">
        <p> {{ 'auth.logon_success' | translate }} </p>
        <p> {{ 'auth.username_notif' | translate }}: <b><i>{{ username }}</i></b> </p>
        <button (click)="proceedToLogin()">
            {{ 'auth.proceed_login' | translate }} ➜
        </button>
    </div>
    <div class="banner" [class.show]="showCookiesBanner">
        {{ 'auth.cookies_info' | translate }}
        <div class="cookies_buttons">
            <button class="cookies_button" (click)="switchCookiesConsent(true)">{{ 'auth.accept' | translate }}</button>
            <button class="cookies_button" (click)="switchCookiesConsent(false)">
                {{ 'auth.decline' | translate }}
            </button>
        </div>
    </div>
</main>
