/* Common */

.submit_button:hover, .language_button:hover {
    cursor: pointer;
}

.language_button:hover {
    filter: brightness(80%)
}

.tab_button.active_left, .tab_button.active_right {
    cursor: default;
}

.tab_button.disabled {
    cursor: pointer;
}

.login.active {
    display: flex;
    flex-direction: column;
}

.login.disabled {
    display: none;
}

.logon.active {
    display: flex;
    flex-direction: column;
}

.logon.disabled {
    display: none;
}

/* Main content */

.tab_button {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 50%;
    text-align: center;
}

.tab_button.active_left {
    background-color: #27272c;
    border-top-left-radius: 12px;
}

.tab_button.active_right {
    background-color: #27272c;
    border-top-right-radius: 12px;
}

.container {
    height: 96%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mode_wrapper {
    padding: 20px;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.submit_button {
    margin-top: 20px;
    width: max-content;
    align-self: center;
    background-color: #abbeaf;
    border-radius: 12px;
    border: 2px solid #abbeaf;
}

.submit_button:active {
    border: 2px solid #313136;
}

input {
    background-color: #313136;
    color: #abbeaf;
    padding-left: 10px;
    padding-right: 10px;
}

.inputIdle {
    border: 1px solid #abbeaf;
}

.inputFail {
    border: 1px solid #841616;
    animation: shake 0.4s;
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-4px); }
    50% { transform: translateX(4px); }
    75% { transform: translateX(-4px); }
}

.hintIdle, .spacerFail {
    display: none
}

.hintFail {
    display: block;
    color: #aa1616;
    font-size: 12px;
    align-self: end;
}

.spacerIdle {
    height: 16px;
    display: block;
}

/* Footer styles */
.footer {
    height: 4%;
    width: match-parent;
    min-height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-left: 10px;
    padding-right: 10px;
}

.language_button {
    height: match-parent;
    border-radius: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.lang_spacer {
    width: 10px;
}

/* Colours */

.main_dialoge {
    background-color: #313136;
    border: 1px solid #abbeaf;
    border-radius: 12px;
}
