/* Common */

.language_button:hover{
    cursor: pointer;
    filter: brightness(80%)
}

.login.active {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.login.disabled {
    display: none;
}

.logon.active {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.logon.disabled {
    display: none;
}

.backdrop {
    position: fixed;
    inset: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
    z-index: 1900;
}

.backdrop.show {
    opacity: 1;
    pointer-events: auto;
}

/* Main content */

.title {
    font-family: mil-font;
}

.tab_button_left, .tab_button_right {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 50%;
    text-align: center;
    background-size: 200% 100%;
    transition: background-position 500ms;
}

.tab_button_left {
    border-top-left-radius: 8px;
    background-image: linear-gradient(to right, #27272c 50%, transparent 50%);
    background-position: -100% 0;

}

.tab_button_right {
    border-top-right-radius: 8px;
    background-image: linear-gradient(to left, transparent 50%, #27272c 50%);
    background-position: 100% 0;
}

.tab_button_left.active, .tab_button_right.active {
    cursor: default;
}

.tab_button_left.disabled, .tab_button_right.disabled {
    cursor: pointer;
    background-color: transparent;
}

.tab_button_left.disabled {
    background-position: 0 -100%;
}

.tab_button_right.disabled {
    background-position: 0 100%;
}

.container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mode_wrapper {
    padding: 20px;
    height: 280px;
}

.nav {
    display: flex;
    flex-direction: row;
    height: 45px;
    width: 100%;
    justify-content: space-evenly;
}

input {
    padding-left: 10px;
    padding-right: 10px;
}

.inputIdle {
    border: 1px solid #abbeaf;
}

.inputFail {
    border: 1px solid #841616;
    animation: shake 0.4s;
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-4px); }
    50% { transform: translateX(4px); }
    75% { transform: translateX(-4px); }
}

.sb_wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;

}

.submit_button {
    margin-top: auto;
    margin-bottom: 5px;
}

.hintIdle, .spacerFail {
    display: none
}

.hintFail, .hintButtonFail {
    display: block;
    color: #aa1616;
    font-size: 12px;
}

.hintFail {
    align-self: end;
}

.hintButtonFail {
    align-self: center;
}

.spacerIdle {
    height: 17px;
    display: block;
}

/* Footer styles */
.footer {
    width: match-parent;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 2000;
}

.language_button {
    height: match-parent;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.lang_spacer {
    width: 10px;
}

/* Cookies banner */

.banner {
    visibility: hidden;
    position: fixed;
    z-index: 2000;
    width: 800px;
    margin-left: -400px;
    margin-top: -100px;
    top: 50%;
    left: 50%;
    border: #abbeaf 2px solid;
    border-radius: 8px;
    padding: 15px;
    background-color: #313136;
}

.banner.show {
    visibility: visible;
    opacity: 1;
}

.cookies_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

/* Notification */

.notification {
    visibility: hidden;
    z-index: 2000;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 450px;
    margin-left: -225px;
    height: 130px;
    margin-top: -65px;
    border: #abbeaf 2px solid;
    border-radius: 8px;
    padding: 15px;
    background-color: #313136;
}

.notification.show {
    visibility: visible;
}


/* Colours */

.main_dialoge {
    width: 400px;
    height: 325px;
    background-color: #313136;
    border: 1px solid #abbeaf;
    border-radius: 8px;
}
