/* Common */

.language_button:hover{
    cursor: pointer;
    filter: brightness(80%)
}

.tab_button.active_left, .tab_button.active_right {
    cursor: default;
}

.tab_button.disabled {
    cursor: pointer;
}

.login.active {
    display: flex;
    flex-direction: column;
}

.login.disabled {
    display: none;
}

.logon.active {
    display: flex;
    flex-direction: column;
}

.logon.disabled {
    display: none;
}

/* Main content */

.tab_button {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 50%;
    text-align: center;
}

.tab_button.active_left {
    background-color: #27272c;
    border-top-left-radius: 12px;
}

.tab_button.active_right {
    background-color: #27272c;
    border-top-right-radius: 12px;
}

.container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mode_wrapper {
    padding: 20px;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

input {
    padding-left: 10px;
    padding-right: 10px;
}

.inputIdle {
    border: 1px solid #abbeaf;
}

.inputFail {
    border: 1px solid #841616;
    animation: shake 0.4s;
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-4px); }
    50% { transform: translateX(4px); }
    75% { transform: translateX(-4px); }
}

.hintIdle, .spacerFail {
    display: none
}

.hintFail {
    display: block;
    color: #aa1616;
    font-size: 12px;
    align-self: end;
}

.spacerIdle {
    height: 16px;
    display: block;
}

input[type="checkbox"] {
    appearance: none; /* Removes browser default */
    height: 20px;
    border: 1px solid #abbeaf;
    background-color: #313136;
    border-radius: 4px;
    box-sizing: border-box;
    vertical-align: middle;
}

input[type="checkbox"]:checked {
    background-color: #abbeaf;
    accent-color: #313136;
    position: relative;
}

input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    left: 6px;
    width: 6px;
    height: 12px;
    border: solid #313136;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    pointer-events: none;
}

/* Footer styles */
.footer {
    width: match-parent;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-left: 10px;
    padding-right: 10px;
}

.language_button {
    height: match-parent;
    border-radius: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.lang_spacer {
    width: 10px;
}

/* Colours */

.main_dialoge {
    background-color: #313136;
    border: 1px solid #abbeaf;
    border-radius: 12px;
}
