<main>
    <div class="container">
        <h1>Diplomancy</h1>
        <div class="main_dialoge">
            <div class="nav">
                <div class="tab_button" [ngClass]="mode == 'login' ? 'active_left' : 'disabled'"
                        (click)="switchMode('login')">
                    {{ 'auth.login' | translate }}
                </div>
                <div class="tab_button" [ngClass]="mode == 'logon' ? 'active_right' : 'disabled'"
                        (click)="switchMode('logon')">
                    {{ 'auth.logon' | translate }}
                </div>
            </div>
            <div class="mode_wrapper">
                <div class="login" [ngClass]="mode == 'login' ? 'active' : 'disabled'">
                    <label for="username">{{ 'auth.username' | translate }}/{{ 'auth.email' | translate }}:</label>
                    <input [ngClass]="usernameOk ? 'inputIdle' : 'inputFail'" type="text" id="username" name="username"
                        [(ngModel)]="inUsername">
                    <div [ngClass]="usernameOk ? 'hintIdle' : 'hintFail'">{{ usernameMsg }}</div>
                    <div [ngClass]="usernameOk ? 'spacerIdle' : 'spacerFail'"></div>
                    <label for="password">{{ 'auth.password' | translate }}:</label>
                    <input [ngClass]="passwordOk ? 'inputIdle' : 'inputFail'" type="password" id="password"
                        name="password" [(ngModel)]="inPassword">
                    <div [ngClass]="passwordOk ? 'hintIdle' : 'hintFail'">{{ usernameMsg }}</div>
                    <div [ngClass]="passwordOk ? 'spacerIdle' : 'spacerFail'"></div>
                    <label>
                        <input type="checkbox" id="remember" name="remember" unchecked [(ngModel)]="rememberMe"/>
                        Remember me
                    </label>
                    <button class="submit_button" (click)="validateLogin()">{{ 'auth.login' | translate }}</button>
                </div>
                <div class="logon" [ngClass]="mode == 'logon' ? 'active' : 'disabled'">
                    <label for="new_username">{{ 'auth.username' | translate }}:</label>
                    <input [ngClass]="usernameOk ? 'inputIdle' : 'inputFail'" type="text" id="new_username"
                        name="new_username" [(ngModel)]="inUsername">
                    <div [ngClass]="usernameOk ? 'hintIdle' : 'hintFail'">{{ usernameMsg }}</div>
                    <div [ngClass]="usernameOk ? 'spacerIdle' : 'spacerFail'"></div>
                    <label for="new_email">{{ 'auth.email' | translate}}:</label>
                    <input [ngClass]="emailOk ? 'inputIdle' : 'inputFail'" type="email" id="new_email" name="new_email"
                        [(ngModel)]="inEmail">
                    <div [ngClass]="emailOk ? 'hintIdle' : 'hintFail'">{{ emailMsg }}</div>
                    <div [ngClass]="emailOk ? 'spacerIdle' : 'spacerFail'"></div>
                    <label for="new_password">{{ 'auth.password' | translate }}:</label>
                    <input [ngClass]="passwordOk ? 'inputIdle' : 'inputFail'" type="password" id="new_password"
                        name="new_password" [(ngModel)]="inPassword">
                    <div [ngClass]="passwordOk ? 'hintIdle' : 'hintFail'">{{ passwordMsg }}</div>
                    <div [ngClass]="passwordOk ? 'spacerIdle' : 'spacerFail'"></div>
                    <button class="submit_button" (click)="validateLogon()">{{ 'auth.logon' | translate }}</button>
                    </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <img class="language_button" src="assets/pl.png" (click)="changeLanguage('pl')"/>
        <div class="lang_spacer"></div>
        <img class="language_button" src="assets/uk.png"(click)="changeLanguage('en')"/>
    </div>
</main>
