label {
    display: flex;
    justify-content: center;
    align-items: center;
}

label span {
    margin-right: 5px;
}

input {
    appearance: none;
    border: none;
    width: calc(var(--size) * 1.9);
    height: var(--size);
    background: linear-gradient(to right, #25252b 50%, #abbeaf 50%) no-repeat;
    background-size: calc(var(--size) * 3.8);;
    background-position: 0px;
    transition: 0.4s;
    border-radius: 12px;
}

input:before {
    content: "";
    width: calc(var(--size) - 4px);
    height: calc(var(--size) - 4px);
    position: absolute;
    background: linear-gradient(to right, #313136 50%, #25252b 50%) no-repeat;
    background-size: 200%;
    background-position: 0px;
    transform: translateX(2px) translateY(2px);
    border-radius: 12px;
    transition: 0.4s;
}

input:focus {
    border: none;
}

input:checked {
    border: none;
    background-position: calc(var(--size) * -1.9);;
    transition: 0.4s;
}

input:checked::before {
    transform: translateX(calc((var(--size) - 2px))) translateY(2px);
    background-position: calc((var(--size) - 4px) * -1);
}
