.img_button {
    height: 50%;
    border-radius: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.img_button:hover {
    filter: brightness(80%);
    cursor: pointer;
}

.sidebar {
    display: flex;
    position: fixed;
    top: 55px;
    bottom: 5px;
    right: -320px;
    width: 345px;
    transition: right 0.3s ease;
    z-index: 1000;
}

.sidebar.open {
    right: 0;
}

.sidebar_controls {
    display: flex;
    height: match-parent;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25px;
}

.vertical {
    transform: rotate(-90deg);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin: 0px;
}

.friend_view {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: #313136;
    align-items: center;
    padding: 16px;
    width: 288px;
}

.friend_view p {
    text-align: center;
}

.backdrop {
    position: fixed;
    inset: 0;
    top: 50px;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 900;
}

.backdrop.show {
    opacity: 0.5;
    pointer-events: auto;
}

.search_bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 6%;
    min-height: 60px;
    padding: 5%;
    width: 100%;
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35px;
    margin-bottom: 10px;
}

.search input {
    display: inline-block;
    box-sizing: border-box;
    height: 35px;
    border-radius: 12px;
    width: 90%;
}

.search img {
    margin: 0px;
    height: 75%;
    background-color: #abbeaf;
    border-radius: 0px;
}

.friend_list {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.friend_list img {
    height: 90%;
}

.friend {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    height: 3%;
    min-height: 30px;
    width: 100%;
    background-color: #25252b;
}

.friend.single {
    border-radius: 12px;
}

.friend.first {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom: #abbeaf 1px solid;
}

.friend.middle {
    border-bottom: #abbeaf 1px solid;
}

.friend.last {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.friend .status.online {
    background-color: #4ade80;
}

.friend .status.offline {
    background-color: #f87171;
}

.friend_left, .friend_right {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.friend_left {
    width: 70%;
    text-overflow: clip;
    margin-left: 4%;
    margin-right: 4%;
}

.friend_left .status {
    height: 25%;
    width: 4.5%;
    border-radius: 12px;
    margin-right: 10px;
    cursor: help;
}

.friend_left p {
    text-align: start;
    width: 95.5%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.friend_right {
    width: 18%;
    margin-right: 4%;
    justify-content: space-around;
}
