<aside class="sidebar" [class.open]="sidebarOpen">
    <div class="sidebar_controls">
        <button class="vertical" (click)="toggleSidebar()">
            {{'dashboard.friends' | translate}} {{sidebarOpen ? '▼' : '▲'}}
        </button>
    </div>
    <div class="friend_view">
        <div class="search_bar">
            <form class="search">
                <input type="text" placeholder="{{'dashboard.search_friend' | translate}}" />
                <div class="img_bg">
                    <img src="assets/search.png"/>
                </div>
            </form>
            <app-switch [size]="'20px'" [(state)]="showBlacklist">
                {{'dashboard.show_blacklist' | translate}}
            </app-switch>
        </div>
        @if ((showBlacklist && enemies.length == 0) || friends.length == 0)
        {
            <p>{{(showBlacklist ? 'dashboard.no_enemies' : 'dashboard.no_friends') | translate}}</p>
        }
        @else
        {
            <div class="friend_list">
                @if (showBlacklist)
                {
                    @for (enemy of enemies; track $index)
                    {
                        <div class="friend" [ngClass]="getFriendClass(enemies, $index)">
                            <div class="friend_left">
                                <p>{{enemy.username}}</p>
                            </div>
                            <div class="friend_right">
                                <div class="img_button" (click)="removeFromBlacklist($index)">
                                    <img src="assets/cancel.png"/>
                                </div>
                            </div>
                        </div>
                    }
                }
                @else
                {
                    @for (friend of friends; track $index)
                    {
                        <div class="friend" [ngClass]="getFriendClass(friends, $index)">
                            <div class="friend_left">
                                <div class="status" [class.online]="friend.online"
                                    [class.offline]="!friend.online"></div>
                                <p>{{friend.username}}</p>
                            </div>
                            <div class="friend_right">
                                <div class="img_button" (click)="removeFriend($index)">
                                    <img src="assets/cancel.png"/>
                                </div>
                                <div class="img_button" (click)="addToBlackList($index)">
                                    <img src="assets/block.png"/>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        }
        <button class="refresh_button" (click)="refresghFriends()">{{'dashboard.refresh' | translate}}</button>
    </div>
</aside>
<div class="backdrop" [class.show]="sidebarOpen" (click)="toggleSidebar()"></div>
