/* Titlebar */

.titlebar {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
}

.buttons_wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
}

.btn_spacer {
    width: 10px;
}

.img_button {
    height: 50%;
    border-radius: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.img_button:hover {
    filter: brightness(80%);
    cursor: pointer;
}

/* Content */

.content {
    display: flex;
    background-color: #313136;
    flex-grow: 1;
    width: 100%;
}
