<main>
    <app-search [(showSearch)]="showSearch"/>
    <app-settings [(settingsOpen)]="showSettings" (onLanguageChange)="changeLanguage($event)"/>
    <div class="titlebar">
        <h1 class="title">Diplomancy</h1>
        <img class="img_button" src="assets/settings.png" (click)="manageSettings()"/>
    </div>
    <div class="content">
        <div class="scrollable">
            <div class="game_view">
                <div class="main_control">
                    <div class="item_left" (click)="createNewGame()">
                        {{ 'dashboard.new_game' | translate }}
                    </div>
                    <div class="item_right" (click)="manageSearch()">
                        {{ 'dashboard.search_game' | translate }}
                    </div>
                </div>
                @for (game of gameData; track $index)
                {
                    <app-dash-item [data]="game" (click)="onGameSelected(game.id)"/>
                }
            </div>
        </div>
        <app-sidebar/>
    </div>
</main>
