<main>
    <div class="titlebar">
        <h1>Diplomancy</h1>
        <div class="buttons_wrapper">
            <img class="img_button" src="assets/pl.png" (click)="changeLanguage('pl')"/>
            <div class="btn_spacer"></div>
            <img class="img_button" src="assets/uk.png"(click)="changeLanguage('en')"/>
            <div class="btn_spacer"></div>
            <img class="img_button" src="assets/settings.png"/>
        </div>
    </div>
    <div class="content">
        Random content
    </div>
    <app-sidebar></app-sidebar>
</main>
