/* Titlebar */

.titlebar {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
}

.buttons_wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
}

.btn_spacer {
    width: 10px;
}

.img_button {
    height: 50%;
    border-radius: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.img_button:hover {
    filter: brightness(80%);
    cursor: pointer;
}

/* Content */

.content {
    display: flex;
    background-color: #313136;
    flex-grow: 1;
    width: 100%;
}

/* Sidebar */

.sidebar {
    display: flex;
    position: fixed;
    top: 55px;
    bottom: 5px;
    right: -320px;
    width: 345px;
    transition: right 0.3s ease;
    z-index: 1000;
}

.sidebar.open {
    right: 0;
}

.sidebar_controls {
    display: flex;
    height: match-parent;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25px;
}

.vertical {
    transform: rotate(-90deg);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin: 0px;
}

.friend_view {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: #313136;
    align-items: center;
    padding: 5%;
}

.friend_view p {
    text-align: center;
}

.backdrop {
    position: fixed;
    inset: 0;
    top: 50px;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 900;
}

.backdrop.show {
    opacity: 0.5;
    pointer-events: auto;
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 3%;
    width: 100%;
    min-height: 30px;
}

.search button {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.search input {
    display: inline-block;
    box-sizing: border-box;
    height: 100%;
    border-radius: 0px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    width: 80%;
}

.search .img_bg {
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #abbeaf;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    padding-left: 5px;
    padding-right: 5px;
}

.search .img_bg:hover {
    filter: brightness(80%);
    cursor: pointer;
}

.search img {
    margin: 0px;
    height: 75%;
    background-color: #abbeaf;
    border-radius: 0px;
}
