<div class="container" [class.show]="showSearch()">
    <div class="header_nav">
        <img class="img_button" src="assets/cancel.png" (click)="close()"/>
    </div>
    <div class="search_bar">
        <div class="main_options">
            <input type="text" placeholder="{{ 'dashboard.search.search_hint' | translate }}"/>
            <app-dropdown [items]="gameModesAsText()" [default]="0" (selected)="updateMode($event)">
                <span>{{ 'dashboard.search.mode' | translate }}</span>
            </app-dropdown>
            <app-drop-select [items]="countriesAsText()" (selected)="updateCountries($event)">
                <span>{{ 'dashboard.search.countries' | translate }}</span>
            </app-drop-select>
        </div>
        <div class="advanced_options">
            <app-checkbox> {{ 'dashboard.search.password' | translate }} </app-checkbox>
            <app-checkbox> {{ 'dashboard.search.hot_join' | translate }} </app-checkbox>
            <app-checkbox> {{ 'dashboard.search.friends' | translate }} </app-checkbox>
        </div>
    </div>
</div>
<div class="backdrop" [class.show]="showSearch()"></div>
