.container {
    visibility: hidden;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 96%;
    height: 95%;
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 4%;
    background-color: #313136;
    border: 2px solid #abbeaf;
    border-radius: 8px;
    z-index: 2000;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 15px;
    padding-bottom: 15px;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.container.show {
    opacity: 1;
    visibility: visible;
}

.backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
    z-index: 1900;
}

.backdrop.show {
    opacity: 0.8;
    pointer-events: auto;
}

.header_nav {
    width: 100%;
    height: 50px;
    display: flex;
    padding-right: 20px;
    justify-content: flex-end;
}

.search_bar {
    display: flex;
    flex-direction: column;
    margin-right: 2%;
    margin-left: 2%;
    width: 96%;
}

.main_options {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

.main_options input {
    display: flex;
    flex: 1;
    max-width: 60%;
    height: 35px;
    border-radius: 8px;
}

.advanced_options {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 35px;
    gap: 50px;
}

/* Table styling */
.item_list {
    border: #abbeaf 2px solid;
    border-radius: 8px;
    margin-top: 25px;
    width: 92%;
    height: 100%;
    margin-right: 4%;
    margin-left: 4%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.table_header{
    display: flex;
    width: 100%;
    min-height: 55px;
    background-color: #25252b;
}

.header_1, .header_2, .header_3, .header_4, .header_5, .header_6 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
    font-weight: bold;
    border-right: 1px solid #abbeaf;
}

.header_1, .column_1 {
    width: 30%;
}

.header_2, .column_2 {
    width: 5%;
}

.header_3, .column_3 {
    width: 5%;
}

.header_4, .column_4 {
    width: 30%;
}

.header_5, .column_5 {
    width: 10%;
}

.header_6, .column_6 {
    width: 10%;
}

.column_7 {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center
}

.table_row {
    display: flex;
    width: 100%;
    min-height: 40px;
    max-height: 40px;
    align-items: center;
    padding-bottom: 2px;
    padding-top: 2px;
}

.table_row.even_row {
    background-color: #2a2a30;
}

.column_1, .column_2, .column_3, .column_4, .column_5, .column_6 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
    border-right: 1px solid #abbeaf;
}

.column_7 button{
    margin: 0px;
}
