html {
    overflow: auto;
    height: 100%;
}

@font-face {
    font-family: mil-font;
    src: url("../public/fonts/gunplay.ttf");
}

body {
    min-height: 100%;
    margin: 0;
    color: #abbeaf;
    font-family: mil-font;
}

app-root:host {
    height: 100%;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #25252b;
    overflow: auto;
}

p {
    margin: 0px;
}

input {
    background-color: #313136;
    color: #abbeaf;
    outline: none;
    border: solid #25252b;
}

input:focus {
    border: solid #abbeaf;
}

button {
    margin-top: 20px;
    width: max-content;
    align-self: center;
    background-color: #abbeaf;
    border-radius: 12px;
    border: 2px solid #abbeaf;
}

button:active {
    border: 2px solid #313136;
}

button:hover {
    cursor: pointer;
}
