html {
    overflow: auto;
    height: 100%;
}

@font-face {
    font-family: mil-font;
    src: url("../public/fonts/gunplay.ttf");
}

body {
    min-height: 100%;
    margin: 0;
    color: #abbeaf;
    font-family: mil-font;
}

app-root:host {
    height: 100%;
}

main {
    height: 100vh;
    background-color: #25252b;
}

p {
    margin: 0px;
}
